
/*- Feedback boxes ------------------------------------------------------------------------- */
.info_small, .success_small, .warning_small, .error_small, .validation_small {
	border: 1px solid;
	margin: 10px 0px;
	padding: 7px 5px 7px 20px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url("gfx/icons/18x18/dialog-information.png");
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url("gfx/icons/18x18/dialog-information.png");
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url("gfx/icons/18x18/dialog-warning.png");
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url("gfx/icons/18x18/dialog-error.png");
}




/* Container */
.container{
   margin: 0 auto;
   border: 0px solid black;
   width: 50%;
   height: 250px;
   border-radius: 3px;
   background-color: ghostwhite;
   text-align: center;
}
/* Preview */
.preview{
   width: 100px;
   height: 100px;
   border: 1px solid black;
   margin: 0 auto;
   background: white;
}

.preview img{
   display: none;
}
/* Button */
.button{
   border: 0px;
   background-color: deepskyblue;
   color: white;
   padding: 5px 15px;
   margin-left: 10px;
}