/*- Body -------------------------------------------------------------------------- */
html,body {
	margin: 10px 10px 10px 10px;
	padding:0;
}
body {
	background: #fff; 
	color: #000;
	font: normal 16px 'Open Sans', sans-serif;
}



/*- Feedback boxes ------------------------------------------------------------------------- */
.info_small, .success_small, .warning_small, .error_small, .validation_small {
	border: 1px solid;
	margin: 10px 0px;
	padding: 10px 0px 10px 34px;
	background-repeat: no-repeat;
	background-position: 10px center;
	text-align: left;
}
.info_small > p, .success_small > p, .warning_small > p, .error_small > p, .validation_small > p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.info_small {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url("icons/18x18/info_outline_black_18x18.png");
}
.success_small {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url("icons/18x18/done_outline_black_18x18.png");
}
.warning_small {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url("icons/18x18/announcement_outline_black_18x18.png");
}
.error_small {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url("icons/18x18/report_gmailerrorred_outline_black_18x18.png");
}



/*- ucrjphp (Upload Crop Rotate jQuery PHP) ------------------------------------------------ */
div.ucrjphp_wrapper{
	text-align:center;
}
div.ucrjphp_image_tools{
	display: none;
}
div.ucrjphp_image_tools_info > p{
	color: grey;
	font-size: 90%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.ucrjphp_image_tools_info > p > input{
	color: grey;
	font-size: 90%;
	border: #fff 0px solid;
	border-bottom: grey 1px dashed;
}
div.ucrjphp_image_preview{
	display: none;
}
div.ucrjphp_upload_form{

}
div.ucrjphp_finish{
	display: none;
}
div.ucrjphp_finish > p > input{
	background: #475c7f;
	border: none; 
	border-radius: 5px;
	color: #FFF;
	padding: 4px 10px 4px 10px; 
	margin: 0 3px; 
	font: normal 14px 'Open Sans',sans-serif;
	width: 50%;
}
div.ucrjphp_finish > p > input:hover {
	color: #fff;
	background: #4f6488;
	text-decoration: none;
}